name: Super-Linter

# Run this workflow every time a new commit pushed to your repository
on:
  schedule:
    - cron:  '1 * * * *'
  workflow_dispatch:

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  get-file-parent:
    # Name the Job
    name: get file
    # Set the type of machine to run on
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: get file 
        run: |-
          curl https://www.fema.gov/api/open/v1/PublicAssistanceApplicants | jq . > output.json
          - name: Commit and push if it changed
      - name: commit and push if changed 
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
